/* Global */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    color: #fff;
}

header {
    background: #E8F8F5;
    width: 100%;
    text-align: center;
}

h1 {
    font-weight: 300;
    letter-spacing: 1px;
    color: #F39C12;
    padding: 0.3em 0;
}

ul {
    list-style: none;
}

section {
    display: inline-block;
    background: #E8F8F5;
    width: 100%;
    padding-bottom: 0.5em;
}

/* Global end */

/* Section*/

.subtitle {
    width: 50%;
    margin: auto;
    color: #F39C12;
}

.score {
    display: inline-block;
}

.score ul {
    display: inline-block;
    overflow: hidden;
    justify-content: center;
}

.stars li {
    display: inline-block;
}

.moves {
    float: right;
    padding-left: 0.5em;
}

.restart {
    float: right;
    cursor: pointer;
}

.fas {
    font-size: 1.5em;
    color: #fff;
}

.fa-redo {

    color: #F39C12;
}

.far,
.fa-redo {
    font-size: 1.1em;
}

/* sention end */

/* Main*/

.container {
    background: #ffffff url("../images/bananas.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cards {
    background: #F8C471;
    border-radius: 10px;
    padding: 1em 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    min-height: 340px;
    margin: 3.5em 0 10em 0;
    box-shadow: 10px 10px 12px 0 rgba(46, 61, 73, 0.5);
}

.card {
    background: #A3E4D7;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 5px 2px 10px 0 rgba(46, 61, 73, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card i {
    font-size: 0em;
}

/* Main end*/

.open {
    background-color: #7FB3D5;
}

.open i,
.match i {
    font-size: 1.5em;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.error {
    background: lightcoral;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.match {
    background: #1ABC9C;
}

.match-in {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Modal section */
#modal {
    color: #424141;
    text-align: center;
    font-size: 1em;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    margin-top: 12em;
}

#modal-content {
    width: 70%;
    margin: auto;
    background-color: #E8F8F5;
    padding: 1em 0;
}

#modal i {
    font-size: 3em;
    color: #3bb950;
    padding-bottom: 0.3em;
}

#play-again-button {
    border-radius: 10px;
    font-size: 1em;
    margin-top: 1.5em;
    padding: 1em;
    background-color: #1ABC9C;
    font-weight: 700;
    color: #fff;
}

#result {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Modal section end */

/* Responsive break points */

@media screen and (min-width:500px) {
    .cards {
        width: 460px;
        min-height: 460px;
    }

    .card {
        width: 6em;
        height: 6em;
    }

    #modal {
        margin-top: 15em;
    }

    #modal-content {
        padding: 2em 0;
    }
    .match-in {
        -webkit-transform: scale(1.13);
        -ms-transform: scale(1.13);
        transform: scale(1.13);
    }
}


@media screen and (min-width:700px) {
    h1 {
        font-size: 3em;
    }

    p,
    .timer {
        font-size: 1.5em;
    }

    .far {
        font-size: 1.5em;
    }

    .fa-redo {
        font-size: 1.3em;
    }

    .cards {
        width: 660px;
        min-height: 660px;
    }

    .card {
        width: 8em;
        height: 8em;
    }

    #modal {
        margin-top: 24em;
    }
}